:host {
  display: flex;
  flex: 1;
  overflow: hidden;
  outline: none;

  .fc-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
  }

  .fc-left-pane {
    flex: 0.15;
    overflow: auto;
  }

  .fc-divider {
    flex: 0.01;
  }

  .fc-right-pane {
    flex: 0.84;
    overflow: auto;
  }

  .button-overlay {
    position: absolute;
    top: 40px;
    z-index: 10;
  }

  .button-overlay button {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 20px;
    background-color: #F15B26;
    user-select: none;
  }

  .button-overlay button:hover:not(:disabled) {
    border: 4px solid #b03911;
    border-radius: 5px;
    margin: -4px;
    margin-bottom: 11px;
  }

  .button-overlay button:disabled {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
  }

}
